
.container {
    width: 16.6%;
    position: relative;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.average {
  position: absolute;
  background-color: rgba(230, 230, 230, 0.7);
  color: #626161;
  padding: 10px;
  border-radius:10px ;
}